/*wsui-dealcard Start*/
/*wsui-dealcard End*/
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.box {
  position: relative;
  width: 200px;
  height: 200px;
  border: 1px solid #eee;
  margin: 20px auto;
}

.test-wsui-dealcard {
  font-size: 10px;
  position: absolute;
  overflow: hidden;
  width: 6em;
  height: 6em;
  z-index: 1;
  top: 0;
}

.test-wsui-dealcard[data-direction="tr"] {
  right: 0;
}

.test-wsui-dealcard[data-direction="tr"]:after {
  transform: rotateZ(45deg);
  top: 1em;
  right: -1.75em;
}

.test-wsui-dealcard[data-direction="tl"] {
  left: 0;
}

.test-wsui-dealcard[data-direction="tl"]:after {
  transform: rotateZ(-45deg);
  left: -1.75em;
  top: 1em;
}

.test-wsui-dealcard:after {
  content: attr(data-content);
  font-size: 1.2em;
  background: #f60;
  color: #fff;
  padding: 0.25em;
  line-height: 1.23em;
  position: absolute;
  width: 6.5em;
  text-align: center;
}
