@import "../src/index.scss";

body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.box{
  position: relative;
  width:200px;
  height:200px;
  border: 1px solid #eee;
  margin: 20px auto;
}
.test-wsui-dealcard{
  @include wsui-dealcard();
}
